{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création du Contact</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crée" />
    {{ form_end(form) }}

{% endblock %}
